.layers {
  background-color: white;
  border-radius: 6px;
  font: var(--font-m);
  box-shadow: 4px 2px 10px 2px rgb(66 68 90 / 14%);
  font-size: 16px;
  height: 500px;
  left: 10px;
  overflow-y: scroll;
  padding: 5px;
  padding-top: 0;
  position: absolute;
  top: 10px;
  width: 300px;
}

.header {
  position: sticky;
  background-color: var(--color-white);
  top: 0;
  padding: 1rem;
  font-weight: bold;
  z-index: 2;
  border-bottom: 0.1rem solid var(--color-grey-200);
}

.layer {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  height: 2rem;
}

.layer span {
  max-width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.layer input[type="checkbox"] {
  /* Rremove most all native input styles */
  appearance: none;
  border: 0.02rem solid currentcolor;
  border-radius: 0.2rem;
  color: currentcolor;
  display: grid;
  font: inherit;
  height: 1rem;

  /* Not removed via appearance */
  margin: 0;
  margin: 0 0.4rem;
  outline: none;
  place-content: center;
  transform: translateY(-0.075rem);
  width: 1rem;
}

.layer input[type="checkbox"]::before {
  box-shadow: inset 1rem 1rem var( --color-green-600);
  content: "";
  height: 0.65rem;
  transform: scale(0);
  transition: 0.2s transform ease-in-out;
  width: 0.65rem;
}

.layer input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.layer button {
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  margin-left: auto;
  margin-right: 1rem;
  outline: none;
}

.layer:hover button {
  border: 1px solid var( --color-green-600);
  display: block;
}

.layer button:hover {
  box-shadow: 0 0 3px 1px rgb(153 255 153 / 100%);
}

.close {
  background-color: var --color-green-600);
  border: none;
  color: white;
  float: right;
  font-weight: bold;
  margin-left: auto;
}

.close:hover {
  cursor: pointer;
}
