:root {
  --font-family: "Mulish";
  --color-white: #fff;
  --color-grey-200: #e1eaf3;
  --color-grey-600: #95a2af;
  --color-grey-800: #6b7987;
  --color-grey-900: #46505a;
  --color-green: #9f9;
  --font-s: normal 500 1rem / 1.3rem var(--font-family);
  --font-m: normal 500 1.2rem / 1.5rem var(--font-family);
  --font-l: normal 400 1.4rem / 1.8rem var(--font-family);
  --font-xl: normal 600 1.8rem / 2.3rem var(--font-family);
}

html {
  font-family: var(--font-family);
  font-size: 10px;
  /* stylelint-disable-line */
  margin: 0;
  height: 100%;
}

body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: var(--mp-font-family);
}

#root {
  height: 100%;
  width: 100%;
}